:root {
  --clr-primary: #c07a0a;
  --clr-secondary: #3da11e;
  --clr-background: rgb(213, 218, 198);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--clr-background);
    line-height: 1.5;
    font-size: 0.875rem;
}

.menu {
  width: 90%;
  margin: 0 auto;
  
}

.title {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  /* background-color: yellow; */
  margin: -10px;
}



.options {
  display: flex;
  justify-content: center;

}

.filter-btn {
  background-color: var(--clr-background);
  border: 0px solid var(--clr-background);
  color: black;
  color: var(--clr-primary);
  height: 1.5rem;
  width: 5rem;
  font-size: 1rem;
  text-transform: capitalize;

}

.filter-btn:hover {
  cursor: pointer;
  color: white;
  background-color: var(--clr-primary);
  border-radius: 1rem;


}


.menu-item {
  /* background-color: yellow; */
  display: flex;
  margin: 5rem auto;
  width: 50rem;
}

.item-info {
    /* background-color: yellow; */
    padding: 0.5rem 0.5rem;
}

header {
  border-bottom: 0.5px dotted var(--clr-primary);
}

.item-info h4{
    /* background-color: yellow; */
    text-transform: capitalize;
   
    
}

.item-info header {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
}

.price {
    /* background-color: lime; */
    color: var(--clr-primary);
}

.item-text {
    /* background-color: purple; */
    color: #7e7676;
}
.photo {
  height: 15rem;
  width: 15rem;
  border: 5px solid var(--clr-primary);

}

