/react-projects-master
/11-navbar/node_modules
/11-navbar/build
/09-color-generator/node_modules
/09-color-generator/build
/10-grocery-bud/node_modules
/10-grovery-bud/build
/03-reviews/node_modules
/03-reviews/build
/04-accordian/node_modules
/04-accordian/build
/05-menu/node_modules
/05-menu/build
/06-tabs/node_modules
/06-tabs/build
/07-Slider/node_modules
/07-Slider/build
