:root {
  --clr-primary-1: #91c8ec;
}
body {
  background: var(--clr-primary-1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {  
  width: 90vw;
  margin: 5rem 0;
  max-width: 450px;
  background : #fff;
  border-radius: .25rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  letter-spacing: 0.1rem;
}

.person img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  padding: .5rem;
  object-fit: cover;
 
}

.person {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

.person:hover {
    background-color: rgba(183, 218, 230, 0.502);
}


.person h4 {
  margin-bottom: 0.35rem;
}
.person p {
  margin-bottom: 0;
}

#clear-All {
  background: var(--clr-primary-1);
  border: none;
  padding: 15px 32px;
  border-radius: 2%;
  color: white;
  cursor: pointer;
  letter-spacing: 0.1rem;
  width: 100%
}
h4 {
  letter-spacing: 0.2rem;
  line-height: 1.0;
  margin-bottom: 0.70rem;
  margin-top: 0.50rem;
}

p {
  letter-spacing: 0.2rem;
  line-height: 1.0;
  margin-bottom: 0.70rem;
  margin-top: 0.50rem;
  font-size: 14px;
  opacity: 0.5;
}

a {
    text-decoration: none;
}
